.Section {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.Home h1 {
    font-size: 1.9em;
    width: 95%;
    margin: 20px auto
}

.Home img {
    margin: 15px;
    max-height: 500px;
}

.Section h3, .Section p {
    text-align: left;
    font-size: 1.3em;
}

@media (max-width: 500px) {
    .Home img {
        display: none;
    }
}
